html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-image: url(Background.jpg);
}

.toolBar {
    display: flex;
    gap: 5px;
}
button {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.colorPicker {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: default;
}

/* .darkenFactor {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: default;
} */

input {
    cursor: pointer;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 810px;
    height: 810px;
    flex-shrink: 0;
    border: 5px solid black;
    background-color: white;
}

.box {
    flex: 1 1 50px;
}
